<nav class="bg-primary-950 border-gray-200 px-6 shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/">
        <img loading="lazy" class="w-28 mr-8" src="/assets/img/fts-login-logo-dark.svg" alt="logo" />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a class="block py-3 px-4 text-white">Workspaces</a>
          </li>
          <li>
            <a class="block py-3 px-4 text-white">Recent</a>
          </li>
          <li>
            <app-btn typeBtn="button" color="primary">Create</app-btn>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <div class="flex space-x-3">
        <button class="text-white" type="button">
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
        <button class="text-white" type="button">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </button>
        <button type="button" class="flex rounded-full" aria-expanded="false" (click)="isOpen = !isOpen"
          cdkOverlayOrigin #menuOverlay="cdkOverlayOrigin">
          <img class="w-8 h-8 rounded-full" src="https://picsum.photos/200/200" alt="user photo" />
        </button>
      </div>


    </div>
  </div>
</nav>

<!-- <div class="mt-20 ">

  <button class="flex rounded-full p-3 bg-slate-500" aria-expanded="false" type="button"
    (click)="isOpenBody = !isOpenBody" cdkOverlayOrigin #bodyOverlay="cdkOverlayOrigin">Toggle Body</button>
</div> -->

<!-- Templates overlays -->

<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="menuOverlay"
[cdkConnectedOverlayOpen]="isOpen"
(detach)="isOpen = false"
(overlayOutsideClick)="isOpen = !isOpen"
>
  <div class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
    <div class="py-3 px-4 flex justify-between">
      <span class="block text-sm text-center text-gray-900">Account</span>
      <button (click)="isOpen = !isOpen" class="block text-sm text-gray-900">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img class="w-10 h-10 rounded-full" src="https://picsum.photos/200/200" alt="" />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">nicogmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Profile</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Activity</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Cards</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Settings</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Sign out</a>
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700">Log out</a>
      </li>
    </ul>
  </div>
</ng-template>

<!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="bodyOverlay" [cdkConnectedOverlayOpen]="isOpenBody"
  (detach)="isOpenBody = false">
  <div class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
    <div class="py-3 px-4 flex justify-between">
      <span class="block text-sm text-center text-gray-900">Account</span>
      <button (click)="isOpenBody = !isOpenBody" class="block text-sm text-gray-900">
        x
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img class="w-10 h-10 rounded-full" src="https://picsum.photos/200/200" alt="" />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">nicogmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Profile</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Activity</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Cards</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Settings</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Sign out</a>
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700">Log out</a>
      </li>
    </ul>
  </div>
</ng-template> -->
